.aws-btn {

--slider-height-percentage: 44%;
--slider-transition-duration: 670ms;
--organic-arrow-thickness: 6px;
--organic-arrow-border-radius: 0px;
--organic-arrow-height: 40px;
--organic-arrow-color: #8b9db1;
--control-button-width: 10%;
--control-button-height: 25%;
--control-button-background: transparent;
--control-bullet-color: #a3b9d0;
--control-bullet-active-color: #8b9db1;
--loader-bar-color: #851515;
--loader-bar-height: 6px;
}